body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: 'Varela Round', sans-serif;
}

body * {
  margin: 10px;
}

#start-screen, #game-over-screen {
  position: absolute;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}

#start-screen *, #game-over-screen *{
  position: relative;
}

#start-screen {
  display: block;
  top: 60px;
}

#start-screen h1 {
  font-size: 35px;
  background-color: pink;
  padding: 0 25px 0 25px;
  margin-top: 0px;
  margin-bottom: 50px;
  border: none;
  border-radius: 30px;
}

#game-over-screen {
  display: none;
  top: 110px;
  background: rgba(255, 255, 255, 0.8);
}

.small-text-tips {
  font-size: 12px;
  margin-top: 0px;
}

#canvas-wrapper {
  border: 5px solid pink;
  margin: 0px;
}

#canvas {
  margin: 0px;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls button, #start, #reset {
  padding: 19px;
  background-color: pink;
  border: none;
  border-radius: 30px;
}

#pause, #resume {
  width: 90px;
}

#controls *:focus {
  outline: none;
}

#controls button:hover {
  background-color: hotpink;
}

#pause {
  display: block;
}

#resume {
  display: none;
}