body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: 'Varela Round', sans-serif;
}

body * {
  margin: 10px;
}

*:focus {
  outline: none;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: pink;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: pink;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

#start-screen, #bot-screen, #game-over-screen, #level-over-screen, #options-screen {
  position: absolute;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}

#start-screen *, #game-over-screen *{
  position: relative;
}

#start-screen {
  display: block;
  top: 60px;
}

#start-screen h1, #bot-screen h1, #options-screen h1, #game-over-screen h1 {
  font-size: 35px;
  background-color: pink;
  padding: 0 25px 0 25px;
  margin-top: 0px;
  margin-bottom: 50px;
  border: none;
  border-radius: 30px;
}

#bot-screen {
  display: none;
  top: 100px;
  background: rgba(255, 255, 255, 0.8)
}

.bot-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#game-over-screen {
  display: none;
  top: 62px;
  background: rgba(255, 255, 255, 0.8);
}

#game-over-score {
  margin-top: 10px;
}

#level-over-screen {
  display: none;
  margin-top: 20px;
  top: 160px;
  background: rgba(255, 255, 255, 0.8);
}

#options-screen {
  display: none;
  top: 85px;
  padding: 60px;
  background: rgba(255, 255, 255, 1);
  z-index: 100;
}

#options-screen h1 {
  margin-bottom: 10px;
}

#options-screen-controls {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 25px;
}

.options-radio span {
  font-size: 14px;
}

#options-endless-mode {
  margin-top: 25px;
}

#options-endless-checkbox {
  top: -4px;
  margin-right: 25px;
}

#options-endless-checkbox:after {
  top: -4px;
}

#options-endless-mode span {
  top: 10px;
  margin: 0 5px 0 0;
}

#options-endless-mode span:last-child {
  font-size: 14px;
}

.bot-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  margin-left: 35px;
}

.bot-selector img {
  width: 30px;
  height: 40px;
}

.small-text-tips {
  font-size: 12px;
  margin-top: 0px;
}

#canvas-wrapper {
  border: 5px solid pink;
  margin: 0px;
}

#canvas {
  margin: 0px;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls button, #start, #next, #reset, #level-reset {
  padding: 19px;
  background-color: pink;
  border: none;
  border-radius: 30px;
}

#pause, #resume {
  width: 90px;
}

#controls button:hover {
  background-color: hotpink;
}

#controls a {
  margin-right: 0px;
}

#pause {
  display: block;
}

#resume {
  display: none;
}